<nav>
<% if current_user %>
	 <p class="hello">Hello <%= current_user.fname %></p> 
	 <a href="/logout">
	 	<img class="logoutb" src="/images/lout.jpg"> 
	</a>
 <% else %>
	<a href="/login">
		<img class="loginb" src="/images/waxlog.jpg">
	</a>

	 <a href="/register">
	 	<img class= "registerb" src="/images/regwax.jpg">
	 </a>
		 <% end %>
</nav>


<div class="notice"><%= flash[:notice] if flash[:notice] %></div>
<div class="alert"><%= flash[:alert] if flash[:alert] %></div>



<div class="posthometop">
	<p class="posthometop-msg">Recent Posts</p>
</div>


<div id="postings">
	<div class="postcontents">
	<p><span id="members_posts"> Your Posts </span>
	<span id="new_post">New Post</span></p>
 	</div>
	<div class="wrapper_members">
	<div class="column_one_members">
		<% @posts.each do |post| %>
		<h4> <%= post.title %></h4>
		<p>	<%= post.body %></p>
		<% end %>
	</div><!--postcontents-->
</div><!--postings-->
	<div class="column_two_members"id="allposts">
		<form id="posts" action="/posts" method="POST">
			<input id="title" class="input" type="text" name="title" placeholder="Enter post title"><br>
			<input name="body" id="posts"  placeholder="Let's share!"<br>
			<input id="submit_post" class="book" type="image" src="/images/submit.jpg" width="130px" height=" 50px" border="0" alt="Submit"/>
		</form>
	</div>
</div>